body {
  padding: 0;
  margin: 0;
  background-image:linear-gradient(95deg, rgb(250, 192, 192) 40% , rgb(107, 218, 255) 50%) ;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.maincontainer1 {
  width: 100%;
}
.maincontainer1 a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.subcontainer {
  font-size: 20px;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 580px;
  margin-right: 580px;
  margin-top: 8vw;
  background-color: rgba(247, 249, 252, 0.767);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.subcontainer span {
  display: block;
}
.inputbox1 {
  padding: 15px;
}
.inputbox1 input {
  padding: 10px;
  width: 200px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}
.inputbox1 select {
  padding: 10px;
  width: 200px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}
.pay input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin: 30px;
}
